html {
	height: 100%;
	font-size: 0.875em;
}

body {
	height: 100%;
	width: 100%;
}

.n3-main {
	height: 100%;
	width: 100%;
	
	justify-content: center;
	
	display: flex;
	flex-direction: row;
}

.n3-no-localfolder {
	display: none !important;
}

.n3-no-nodes .n3-content-area > .block {
	display: none !important;
}

.n3-node-header {
	display: flex;
	align-items: center;
}

.n3-dropdown {
	display: inline;
}

.n3-breadcrumb {
	display: inline;
	margin-left: 5px;
}

.tabulator-cell .breadcrumb {
	font-size: 10px;	
	font-weight: 400;
}

.n3-leftside {
	width: 30%;
	
	height: 100%;
	display: flex;
	flex-direction: column;
}

.n3-content-area {
	flex: auto;
	width: 70%;
	
	overflow: auto;
	
	display: flex;
	flex-direction: column;
}

/* .n3-content-area,  */.n3-navigation-buttons {
	padding: 10px 10px 0 10px;
}


.ui-fancytree {
	height: 100%;
}

.modal {
    z-index: 120; /* splitter has 100*/
}

.n3-node-desciption {
	height: 400px;
	padding: 10px;
	overflow: auto;
}

.n3-task-details-modal > .modal-content {
    width: 900px;
}

.n3-task-details-modal > .modal-content > .box {
	width: 880px;
}


.n3-task-details-modal .n3-title input {
	/* width: 100%; */
}

.n3-task-details-modal .n3-attributes input, .n3-task-details-modal .n3-attributes select {
	width: 100px;
	max-width: 100px;
}

.tabulator [data-internstatus="DONE"] .n3title {
	color: #ccc;
	text-decoration: line-through !important;
}

.tabulator [data-internstatus="TOBEDONE"] .n3title {
	color: #333;
}

.tabulator [data-priority="1"] .n3priority, [data-priority="1"] .n3title {
	font-weight: 100;
}
.tabulator [data-priority="2"] .n3priority, [data-priority="2"] .n3title {
	font-weight: 400;
}
.tabulator [data-priority="3"] .n3priority, [data-priority="3"] .n3title  {
	font-weight: 1000;
}
/* fix for tagify and bulma*/
.input.is-static:hover {
    border-color: transparent;
}

.n3-notification {
	background-color: transparent;	
}

.n3-title-info {
	color: blue;
	font-size: 11px;
}

.n3-leftside, .n3-main ul.fancytree-container {
	background-color: #f6f6f6;
}

.n3-main ul.fancytree-container { 
	border: none;
}

.n3-main .fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-active span.fancytree-title,
.n3-main .fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-selected span.fancytree-title {
	color: hsl(0, 0%, 100%);
	background-color: hsl(171, 100%, 41%);
    border-color: hsl(0, 0%, 21%);
}

.n3-main .fancytree-plain span.fancytree-active span.fancytree-title, 
.n3-main .fancytree-plain span.fancytree-selected span.fancytree-title {
	color: hsl(0, 0%, 100%);
	background-color: hsl(171, 100%, 41%);
    border-color: hsl(0, 0%, 21%);
}

.n3-search-dialog section {
	overflow-y: auto;
	height: 500px;
}

.n3-search-dialog .breadcrumb {
	font-size: 0.7rem;
}

.n3-search-dialog .panel-block {
	flex-wrap: wrap;
}
